<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The first html</title>
</head>
<body>
<!--    //段落-->
  <h1 style="text-align: center">my first title1</h1>
<!--    //行-->
  <p style="text-align: center">my first graph</p>
<!--    //超链接-->
<div style="text-align: center">
  <a  href ="http://www.bilibili.com">this is bilibili .com</a>
</div>
<!--    //图像-->

<!--    //换行-->
    <br>
<!--图像-->
<div style="text-align: center">
  <iframe src="https://chat.openai.com/chat/fdae6040-afc1-4c51-85c6-c172e8bb9581" width="500" height="500">this is bilibili</iframe>
</div>
<!--   视频测试     -->
<div style="text-align: center">
    <video style="width: 50%" height="500px" controls>
        <source src="../static/test/2.mp4" type="video/mp4">
    </video>
</div>
</body>
</html>